bin/pimpconv
bin/pimpconv.exe
bin/*.map
bin/*.gba
bin/*.elf
build/
lib/libpimp_gba.a
examples/*.gbfs
examples/example.gba
examples/example2.gba
examples/sample_bank.bin
examples/data/*.bin
*.o
*.d
t/*.exe
t/unit_test
